{% extends "base.html" %}

{% block content %}

	
    <!-- Background image -->
    <div class="p-5 text-center bg-image mb-5" id="photoConnexion">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.4);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
              <h1 id="bannerGrosTitre">Connexion</h1>
          </div>
      </div>
      </div>
    </div>

	  <div class="container d-flex justify-content-center align-items-center">
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-6">
              <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </form>
            </div>
        </div>
    </div>
    <p class="d-flex flex-wrap justify-content-center align-items-center">Nouveau ? 
      <a href="{{ url_for('auth.register') }}" 
      style="margin-left: 10px ;">Cliquez ici pour vous inscrire!</a></p>

{% endblock %}

