# Cache
/__pycache__
# Environnement Virtuel
/OuJeVaisFromScratch
/Ou_Je_Vais_Portfolio--Flask--
/logs
/migrations

# Configuration
.env
#Jupyter Notebook
*.ipynb
# fichier sqlite si crée
app.db

#migrations
/migrations

#Socket
/Ou_Je_Vais_Portfolio--Flask--.sock