/************** 404 ***********************************/

#photo404{
    background-image: url('/static/img/thomas-schweighofer-5dB9WGpJbFc-unsplash.jpg');
    height: 70vh;
    width: auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#banner404{
    font-size: 5em;
}




/************** Connexion inscription ***********************************/

#photoConnexion{
    background-image: url('/static/img/patrick-tomasso-j1dj50Td7CQ-unsplash.jpg');
    height: 300px;
    width: auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*************** Js J'y vais *********************************************/
    
  
#animationOuJeVais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('/static/img/ken-okum-GW9ASDNcnxA-unsplash_grande.jpg');
    width: 100%;
    height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* lettresJS */
/*
#lettresJS{
    position: relative;
    right: 72px;

}
*/
/*
#avionJs{
    position: relative;
    right: 1000px;
    bottom: 80px;
    overflow-x:hidden;
    overflow-y:hidden;
}
*/

.mots{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#espaceLettres{
    width: 20px;
}




/* Responsive : Media query *********************************************** */
/* Pour les petits ecrans */
@media screen and (max-width: 600px)  {
    /* ********  Chart.js ***********/
    #blockCharts{
        display: none;
    }

    .graphContainerContainer{
        display: flex ;
        flex-direction: column ;
        justify-content: center ;
        align-items: center ;
        width: 100% ;
        height: 900px;
    }

    #canvasContainer{
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        height: auto !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    #graphTest, #graphTest2{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        width: 80vw !important;
        height: auto !important;
        margin-right: 30px !important;
        margin-left: 30px !important;
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
    
    /* ********  fin Chart.js ***********/
     /* ********  Bouton + Selecteur  *******/
     
    #critere_classement{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;

    }
    /* ********  fin Bouton + Selecteur  *******/
    
    /***** Formulaire contact *************/
    #blockContact{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }


    

    /***** Navbar *************************/
    .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

    }
    .nav-item{
        font-size: 1.5em;
        margin: 50px;

    }
    .boutonsConnexionInscription{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #boutonsConnexionInscription-item{
        margin: 10px;
    }
    /* fin Navbar *************************/

    /***** J'y vais (avion + lettres) *****/
    #lettresJS{
        position: relative;
        right: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: blanchedalmond;
        font-size: 1.8em;

    }
    #avionJs{
        display: none;
        /*
        position: relative;
        right: 1000px;
        bottom: 110px;
        overflow-x:hidden;
        overflow-y:hidden;
        */
    }

    /***** fin J'y vais (avion + lettres) *****/

    #titre{
      display: none;
    }
    .nav-item{
        margin: 5px;
    
    }
    /* Banner Petits ecrans  **********************************************/
    #photoBanniere{
        background-image: url('/static/img/shayd-johnson-LTzlrL8VCuU-unsplash.jpg');
        height: 550px;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
   

    /* fin Banner ********************************************************/

    
    
        
        
    }
    
    
    /* Ecran moyens */
    @media screen and (min-width: 600px) {
    /* ********  Chart.js ***********/
    #blockCharts{
        display: none;
    }

    .graphContainerContainer{
        display: flex ;
        flex-direction: column ;
        justify-content: center ;
        align-items: center ;
        width: 100% ;
        height: 1480px;
    }

    #canvasContainer{
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        height: auto !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    #graphTest, #graphTest2{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        width: 80vw !important;
        height: auto !important;
        margin-right: 30px !important;
        margin-left: 30px !important;
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
    
    /* ********  fin Chart.js ***********/
    
    /* Selecteur */
    #critere_classement{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 45%;

    }
    
    /***** Formulaire contact *************/
    #blockContact{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }
    /***** Navbar *************************/
    .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

    }
    .nav-item{
        font-size: 1.8em;
        margin: 10px;

    }
    .boutonsConnexionInscription{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #boutonsConnexionInscription-item{
        margin: 10px;
    }
    /* fin Navbar *************************/

        /***** J'y vais (avion + lettres) *****/

        #lettresJS{
            position: relative;
            right: 30px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: blanchedalmond;
            font-size: 2.4em;
    
        }
        #avionJs{
            display: none;
            /*
            position: relative;
            right: 1000px;
            bottom: 150px;
            overflow-x:hidden;
            overflow-y:hidden;
            */
        }
        
        /***** fin J'y vais (avion + lettres) *****/
        .nav-item{
            margin-left: 7px;
            margin-right: 7px;
        
        }
        /* Banner Moyens ecrans  **********************************************/
        #photoBanniere{
            background-image: url('/static/img/patrick-tomasso-j1dj50Td7CQ-unsplash.jpg');
            height: 400px;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        /* fin Banner ********************************************************/
    }
    
      
    
    /* Pour les grandes tablettes*/
    @media screen and (min-width: 990px){
    /* ********  Chart.js ***********/
    #blockCharts{
        display: none;
    }

    .graphContainerContainer{
        display: flex ;
        flex-direction: column ;
        justify-content: center ;
        align-items: center ;
        width: 100% ;
        height: 700px;
    }

    #canvasContainer{
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        height: auto !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    #graphTest, #graphTest2{
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        width: 40vw !important;
        height: auto !important;
        margin-right: 30px !important;
        margin-left: 30px !important;
    }
    
    /* ********  fin Chart.js ***********/

    /* Selecteur */
    #critere_classement{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 40%;

    }
    /***** Formulaire contact *************/
    #blockContact{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }
    /***** Navbar *************************/
    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .nav-item{
        
        font-size: 1em;
        margin: 10px;

    }
    #navbarButtonsExample{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .boutonsConnexionInscription{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
    #boutonsConnexionInscription-item{
        font-size: 0.8em;
        margin: 10px;
        margin-top: 30px;
    }

 
    /* fin Navbar *************************/
        /***** J'y vais (avion + lettres) *****/
        #lettresJS{
            position: relative;
            right: 30px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: blanchedalmond;
            font-size: 3em;
    
        }
        #avionJs{
            display: none;
            /*
            position: relative;
            right: 1000px;
            bottom: 180px;
            overflow-x:hidden;
            overflow-y:hidden;
            */
        }

        /***** fin J'y vais (avion + lettres) *****/
        
    
        .nav-item{
            margin-left: 10px;
            margin-right: 10px;
        
        }

        /* Banner Gd ecrans  *************************************************/
        
        #photoBanniere{
            background-image: url('/static/img/patrick-tomasso-j1dj50Td7CQ-unsplash.jpg');
            height: 600px;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        /* fin Banner ********************************************************/
    
    }
    
    
    
    /* Pour les très grands ecrans */
    @media screen and (min-width: 1200px) {
    /* ********  Chart.js ***********/
    #blockCharts{
        display: none;
    }

    .graphContainerContainer{
        display: flex ;
        flex-direction: column ;
        justify-content: center ;
        align-items: center ;
        width: 100% ;
        height: 750px;
    }

    #canvasContainer{
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        height: auto !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    #graphTest, #graphTest2{
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        width: 40vw !important;
        height: auto !important;
        margin-right: 30px !important;
        margin-left: 30px !important;
    }
    
    /* ********  fin Chart.js ***********/
    
    /* Selecteur */
    #critere_classement{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 30%;

    }
    /***** Formulaire contact *************/
    #blockContact{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    /***** Navbar *************************/
    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .nav-item{
        
        font-size: 1.5em;
        margin: 10px;

    }
    #navbarButtonsExample{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .boutonsConnexionInscription{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
    #boutonsConnexionInscription-item{
        font-size: 1.2em;
        margin: 10px;
        margin-top: 33px;
    }

 
    /* fin Navbar *************************/
        
        /***** J'y vais (avion + lettres) *****/
        #lettresJS{
            position: relative;
            right: 72px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: blanchedalmond;
            font-size: 3em;
    
        }
        #avionJs{
            display: block;
            position: relative;
            right: 1000px;
            bottom: 50px;
            overflow-x:hidden;
            overflow-y:hidden;
        }
        
        /***** fin J'y vais (avion + lettres) *****/
    
      
    }
    
    /* fin Responsive : Media query ********************************************* */


    #aProposTexte{
        text-align: justify;
    }

    #miniTexteCertif{
        text-align: justify;
        border-style: dashed;
        padding : 4px 4px 4px 4px;
    }
    #nbLimitesAPI{
        text-decoration: underline #1b59bd;
    }

    #aProposTableau{
        font-size: 0.9em;
        max-width: 90%;
    }

    /*****************Selecteurs Preferences *********************************/
    #vers_ancienne_version{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        width: 80%;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-right: 50px;
        margin-left: 50px;
        font-size: 0.3em!important;

    }
    #formulaireSelecteursPreferences{
        width: 50%;
    }
    .selecteurPreferences{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 120px;
        margin:  2px 2px 2px 2px;
        font-size: 0.8em;
    }
    
    #move{
        position: relative;
        top: 10px;
        margin: 10px 10px 10px 10px;

    }
    

    /***************** fin Selecteurs Preferences ****************************/

    /****************** tableau classement ***********************************/
   
    #tableauClassement{
        overflow: scroll;
       
    }

    /****************** fin tableau classement *******************************/




    /****************** images Graphiques ************************************/
    .graphiquesPar4{
        width: 100%;
    }
    #imagesGraphiques{
        margin: 10px 10px 10px 10px;
        width: 80%;
        height: auto;
    }

    /****************** fin images Graphiques ********************************/


    
    .modal-dialog, .modal-content, .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    