/*
body {
    overflow-x:hidden;
}
*/


/* Navbar *******************************************************************/

.nav-item{
    font-size: 2em;
    margin-left: 10px;
    margin-right: 10px;

}
/* fin Navbar ***************************************************************/

/* Banner  ******************************************************************/
#photoBanniere{
    background-image: url('/static/img/patrick-tomasso-j1dj50Td7CQ-unsplash.jpg');
    height: 600px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* fin Banner ***************************************************************/

/* Responsive : Media query *********************************************** */
/* Pour les petits ecrans */
@media screen and (max-width: 768px) {

    #titre{
      display: none;
    }
    .nav-item{
        margin: 5px;
    
    }
    
        
        
    }
    
    
    /* Ecran moyens */
    @media screen and (min-width: 576px) and (max-width: 768px) {
        .nav-item{
            margin-left: 7px;
            margin-right: 7px;
        
        }
    }
    
      
    
    /* Pour les Grands ecrans */
    @media screen and (min-width: 769px) {
        
        .nav-item{
            margin-left: 10px;
            margin-right: 10px;
        
        }
    
    }
    
    
    
    /* Pour les très grands ecrans */
    @media screen and (min-width: 900px) and (max-width: 1200px) {
    
      
    }
    
    /* fin Responsive : Media query ********************************************* */