{% extends "base.html" %}

{% block content %}

<div class="container_flash">
  {% with messages = get_flashed_messages(with_categories=true) %}
     {%if messages %}
          {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <h4 style="text-align:center;">{{ message }}</h4>
            </div>
          {%endfor%}
    {%endif %}
  {%endwith%}
      <!-- Formulaire contact -->

      <div class="contact mt-5 pb-5"
      id="blockContact" >

        <div class="mx-1 my-2 px-1
        d-flex flex-column justify-content-around align-items-center" 
        id="formulaireContact" 
        style="width: 100%;">

            <h2 class="pt-5 text-center" style="color: black;">Contactez-moi</h2>

                <form method="POST" class="mt-5" >
                    <div class="mb-3">
                        <label for="lastname" class="form-label text-light"
                        style="color: rgb(34, 34, 34) !important;">Votre nom :</label>
                        <input type="text" name="contact_name" id="contact_name" class="form-control" 
                        placeholder="ex : Doe" value=""
                        onfocus="this.value=''">
                        
                    </div>
                    <div class="mb-3">
                        <label for="mail" class="form-label text-light"
                        style="color: rgb(34, 34, 34) !important;">Votre adresse mail :</label>
                        <input type="email" id="contact_email" name="contact_email" class="form-control" 
                        placeholder="name@gmail.com" value=""
                        onfocus="this.value=''">
                        
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label text-light" 
                        style="color: rgb(34, 34, 34) !important;">Votre message</label>
                        <textarea class="form-control" id="contact_message" rows="6" 
                        name="contact_message" placeholder="Votre message ici"></textarea
                        onfocus="this.value=''">
                        
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit" 
                        name="submit" id="buttonSubmit">Envoyer</button>
                    </div>
                </form>
        </div>

        <div class="mx-1 my-2 px-1 
        d-flex flex-column justify-content-around align-items-center" 
        id="photoContact"
        style="width: 100%;" >
          <figure class="d-inline-block">
            <img src="{{ url_for('static', filename='img/contact_us.jpeg') }}" 
            alt="Image" class="img-fluid" />
          </figure>
        </div>

    </div>

    <!-- Formulaire contact -->


    
    
<!-- -------------------------SCRIPTS--------------------------------------->
    
{% endblock %}