{% extends "base.html" %}

{% block content %}

<div class="container_flash">
  {% with messages = get_flashed_messages(with_categories=true) %}
     {%if messages %}
          {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <h4 style="text-align:center;">{{ message }}</h4>
            </div>
          {%endfor%}
    {%endif %}
  {%endwith%}


    <!-- Activities -->
    <div class="container" id="activities">
    <div class="row">
        <div class="col-12">
        <div class="tm-parallax">
            <header class="tm-parallax-header">
            <h2 class="">Contact</h2>
            </header>
        </div>
        </div>
    </div>
   
    <!-- Contact -->
    <section class="container tm-contact-section" id="contact">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-12 tm-contact-left">
          <div class="tm-contact-form-container ml-auto mr-0">
            <header>
              <h2 class="tm-contact-header">Contactez moi </h2>
            </header>
            <form class="tm-contact-form" method="POST">
              <div class="form-group">
                <input
                  type="text"
                  id="contact_name"
                  name="contact_name"
                  class="form-control"
                  placeholder="Nom"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  id="contact_email"
                  name="contact_email"
                  class="form-control"
                  placeholder="Email"
                  required
                />
              </div>
              <div class="form-group">
                <textarea
                  rows="5"
                  id="contact_message"
                  name="contact_message"
                  class="form-control"
                  placeholder="Message"
                  required
                ></textarea>
              </div>
              <div class="tm-text-right">
                <button type="submit" class="btn tm-btn tm-btn-big">
                  Envoyer
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xl-7 col-lg-6 col-md-12 tm-contact-right">
          <div class="tm-contact-figure-block">
            <figure class="d-inline-block">
              <img src="{{ url_for('static', filename='img/contact_us.jpeg') }}" alt="Image" class="img-fluid" />
              <figcaption class="tm-contact-figcaption">
                Vous souhaitez en savoir plus sur le projet ? Vous êtes 
                recruteur.se et vous souhaitez me contacter ?
                Ou pour toute autre question ou remarque ...
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>


    
<!-- -------------------------SCRIPTS--------------------------------------->
    
{% endblock %}