{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
    <div class="welcome_user">
      <h1>Bienvenue, {{ current_user.username }}!</h1>
    </div>
    {% endif %}
    <div class="container_flash">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages %}
              {%for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  <h4 style="text-align:center;">{{ message }}</h4>
                </div>
              {%endfor%}
        {%endif %}
      {%endwith%}
    </div>
    <!-- Video Banner -->

     <!-- Background image -->
     <div class="p-5 text-center bg-image mb-5" id="photoBanniere">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.4);">
          <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                  <h1 id="bannerGrosTitre">Quelle sera votre destination ?</h1>
                  <h3 id="bannerPetitTitre">Determinez la grâce aux données...</h3>
              </div>
          </div>
      </div>
    </div>
    <!-- fin Background image -->
    
    <!--

              <p class="mb-4">
                Entre des conditions météorologiques "extrèmes" et
                des situations géopolitiques inédites, prevoir son séjour
                à l'etranger peut s'averer très anxiogène...
                Ainsi, il peut être profitable de savoir là où l'on va mettre
                les pieds avant de décoller !
              </p>

        
             
            
                <p>
                  <strong>Front-end :</strong> HTML, CSS, Bootstrap
                </p>
                <p>
                  <strong>Back-end :</strong> Python, Flask
                </p>
                <p>
                  <strong>Base de données :</strong> PostgreSQL, SQLAlchemy
                </p>
                <p>
                  <strong>Déploiement :</strong> DigitalOcean(Ubuntu 20.04, NGINX)
                </p>
              </div>
              
                <p>
                  L'Organisation de coopération et de développement économiques
                  (<strong>OCDE</strong>)
                </p>
                <p>
                  L'Organisation des Nations Unies pour l'éducation, la science
                   et la Culture (<strong>UNESCO</strong>)
                </p>
                <p>
                  Le service en ligne de prévisions météorologiques : (<strong>OpenWeatherMap</strong>)
                </p>
              

   
    <div class="container" id="activities">
      <div class="row">
        <div class="col-12">
          <div class="tm-parallax">
            <header class="tm-parallax-header">
              <h2 class="">A propos</h2>
            </header>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="tm-activity-block">
            <div class="tm-activity-img-container">
              <img src="{{ url_for('static', filename='img/avion_nuit.jpeg') }}" alt="Image" class="tm-activity-img" />
            </div>
              <div class="tm-activity-block-text">
                <h3 class="tm-text-blue"><a 
                    rel="nofollow"
                    href="https://github.com/J-BT/ou_je_vais" 
                    class="tm-footer-link">Du projet</a></h3>
                <p>
                  Ce projet valide les certifications <strong><a 
                    rel="nofollow"
                    href="https://www.francecompetences.fr/recherche/rs/3497/" 
                    class="tm-footer-link">RS3497</a></strong>  
                  “Développer une base de données” et <strong><a 
                    rel="nofollow"
                    href="https://www.francecompetences.fr/recherche/rs/3508/" 
                    class="tm-footer-link">RS3508</a></strong>  
                   “Exploiter une base de données” 
                   <strong>reconnues par l’État</strong>.
                </p>
              </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="tm-activity-block mr-lg-0 ml-lg-auto">
            <div class="tm-activity-img-container">
              <img src="{{ url_for('static', filename='img/photo_profile.jpeg') }}" alt="Image" class="tm-activity-img" />
            </div>
              <div class="tm-activity-block-text">
                  <h3 class="tm-text-blue"><a 
                    rel="nofollow"
                    href="https://www.linkedin.com/in/jeanbaptistetheroulde/" 
                    class="tm-footer-link">De l'auteur</a></h3>
                  <p>
                    Stagiaire de la formation développeur data en reconversion
                    professionelle dans les domaines du 
                    <strong>développement back-end </strong>
                    et de la <strong>data analyse</strong>.
                  </p>
              </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="tm-activity-block">
            <div class="tm-activity-img-container">
              <img src="{{ url_for('static', filename='img/le_havre.jpeg') }}" alt="Image" class="tm-activity-img" />
            </div>
            <div class="tm-activity-block-text">
              <h3 class="tm-text-blue"><a 
                    rel="nofollow"
                    href="https://digifab.fr/le-havre" 
                    class="tm-footer-link">De l'ecole</a></h3>
              <p>
                <strong>Digifab</strong>, fait partie du réseau Simplon.
                Ses 3 écoles à <strong>Besançon</strong>,
                <strong>Annemasse</strong> et <strong>Le Havre</strong>
                ont été créees pour répondre aux besoins croissants
                des recruteurs.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="tm-activity-block mr-lg-0 ml-lg-auto">
            <div class="tm-activity-img-container">
              <img src="{{ url_for('static', filename='img/crocodile_nipponbashi.jpeg') }}" alt="Image" class="tm-activity-img" />
            </div>
            <div class="tm-activity-block-text">
              <h3 class="tm-text-blue"><a 
                    rel="nofollow"
                    href="https://www.facebook.com/nihonnobouken" 
                    class="tm-footer-link">Du PVT au Japon</a></h3>
              <p>
                Une forte envie de dépaysement, plusieurs mois d'économies et
                le tour est joué. Vous êtes fin prêt.e.s à vous envoler au
                pays de l'Okonomiyaki ! <strong> Vivez notre PVT d'un an
                 en image </strong>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  -->
    
{% endblock %}