{% extends "base.html" %}

{% block content %}

<div class="container_flash">
  {% with messages = get_flashed_messages(with_categories=true) %}
     {%if messages %}
          {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <h4 style="text-align:center;">{{ message }}</h4>
            </div>
          {%endfor%}
    {%endif %}
  {%endwith%}


  <h2 class="form-signin-heading">Test Selecteur</h2>
  <p>
    <input type="button" value="Fill SELECT Dropdown List with JSON" id="bt" />
  </p>
  <select id="sel">
    <option value="dix">10:00</option>
    <option value="onze">11:00</option>
    <option value="douze">12:00</option>
    <option value="treize">13:00</option>
  </select>


  <select id="poivre">
    <option value="">--Please choose an option--</option>
    <option value="pop+">croissant</option>
    <option value="pop-">decroissant</option>
    
  </select>


  <div class="w-100 p-3" id="tableauClassement">
    <table class="table table-responsive table-hover" id="myTable">
      <thead>
        <tr>
          <th scope="col">Pays</th>
          <th scope="col">Population</th>
          <th scope="col">Esperance de vie</th>
          <th scope="col">Taux de chomage (%)</th>
          <th scope="col">°C Maintenant</th>
          <th scope="col">°C J-5</th>
          <th scope="col">Meteo J-5</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>

<p id="msg"></p>
    
    <div class="container">
        <form class=""  role="form" id="form_jy_vais">
            <h2 class="form-signin-heading">Please Sign Up</h2>
            
            <input type="email" id="inputUsername" name="username" class="form-control"
            placeholder="Email address" required autofocus>
            
            <input type="password" id="inputPassword" name="password" 
            class="form-control" placeholder="Password" required>       
            
            <button class="btn btn-lg btn-primary btn-block" 
            type="button" id="buttonTest">Register</button>
		</form>   
     </div>  


{% endblock %}