{% extends "base.html" %}

{% block content %}

<div class="container_flash">
  {% with messages = get_flashed_messages(with_categories=true) %}
     {%if messages %}
          {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <h4 style="text-align:center;">{{ message }}</h4>
            </div>
          {%endfor%}
    {%endif %}
  {%endwith%}
</div>

<!-- Animation JS Ou Je Vais -->
<div class="col-12 col-md-12 col-lg-12 my-3" 
id="animationOuJeVais"> 

  <div id="avionJs">
    <img src="{{ url_for('static', filename='img/airplane.png') }}" 
        height="80"
        alt=""/>
  </div>

  <h1 id="lettresJS">
    <div class="mots" id="QUELLE">
      <span class="letter" id="lettreDebut">Q</span>
      <span class="letter" id="lettreDebut">U</span>
      <span class="letter" id="lettreDebut">E</span>
      <span class="letter" id="lettreDebut">L</span>
      <span class="letter" id="lettreDebut">L</span>
      <span class="letter" id="lettreDebut">E</span>
    </div>
    <div id="espaceLettres"></div>
    <div class="mots" id="SERA">
      <span class="letter" id="lettreAvantMilieu">S</span>
      <span class="letter" id="lettreAvantMilieu">E</span>
      <span class="letter" id="lettreAvantMilieu">R</span>
      <span class="letter" id="lettreAvantMilieu">A</span>
    </div>
    <div id="espaceLettres"></div>
    <div class="mots" id="VOTRE">
      <span class="letter" id="lettreMilieu">V</span>
      <span class="letter" id="lettreMilieu">O</span>
      <span class="letter" id="lettreMilieu">T</span>
      <span class="letter" id="lettreMilieu">R</span>
      <span class="letter" id="lettreMilieu">E</span>
    </div>
    <div id="espaceLettres"></div>
    <div class="mots" id="DESTINATION">
      <span class="letter" id="lettreBas" >D</span>
      <span class="letter" id="lettreBas">E</span>
      <span class="letter" id="lettreBas">S</span>
      <span class="letter" id="lettreBas">T</span>
      <span class="letter" id="lettreBas">I</span>
      <span class="letter" id="lettreBas">N</span>
      <span class="letter" id="lettreBas">A</span>
      <span class="letter" id="lettreBas">T</span>
      <span class="letter" id="lettreBas">I</span>
      <span class="letter" id="lettreBas">O</span>
      <span class="letter" id="lettreBas">N</span>
    </div>
    <div id="espaceLettres"></div>
    <div class="mots" id="?">
      <span class="letter" id="lettrePointInterro">?</span>
    </div>
    <div id="espaceLettres"></div>
  </h1>
</div>

<button class="testBouton">Click me</button>



        <div class="w-100 p-3" id="tableauClassement">
          <table class="table table-responsive table-hover" id="myTable">
            <thead>
              <tr>
                <th scope="col">Pays</th>
                <th scope="col">Population</th>
                <th scope="col">Esperance de vie</th>
                <th scope="col">Taux de chomage (%)</th>
                <th scope="col">°C Maintenant</th>
                <th scope="col">°C J-5</th>
                <th scope="col">Meteo J-5</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>

</div>
    

{% endblock %}
